import React, { useEffect, useState } from 'react';

import classes from './{{name}}.module.css';

interface {{pascalCase name}}Props {

}

interface {{pascalCase name}}State {

}

const {{pascalCase name}}: React.FC<{{pascalCase name}}Props> = (props: {{pascalCase name}}Props) => {
  const [state, setState] = useState<{{pascalCase name}}State>({});

  useEffect(() => {
    console.log('{{pascalCase name}} mounted');

    return () => {
    console.log('{{pascalCase name}} unmounted');
    }
  }, []);

  useEffect(() => {
    console.log('useEffect.{{pascalCase name}}: ', props);
  }, [props]);
  
  return (
    <div data-testid="{{pascalCase name}}" className={ classes.{{pascalCase name}} }>
      <h1>{{pascalCase name}}</h1>
    </div>
  );
};

export default {{pascalCase name}};